/Pos-Back/.env
/Pos-Back/server/__pycache__
/Pos-Client/src/.env
/Pos-Client/.env
/Pos-Client/psql_data
/psql_data
/letsencrypt
/TS-Client/node_modules
/Pos-Client/
/Pos-Back/
/fastApi/
/TS-Client/.env
/TS-Client/dist
/TS-Client/src-tauri/WixTools
/TS-Client/src-tauri/target/
/TS-Client/.env.production
/goApi/cert.pem
/goApi/fiber_handler/cert.pem
/goApi/fiber_handler/fullchain.pem
/goApi/fiber_handler/privkey.pem
/goApi/privkey.pem
/socket/target
/socket/src/.main.rs.swp
/socket/.env