body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(138, 138, 138)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notification{
  position: fixed;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index:50;
  height:20vh;
  width:50vw;
}
.Modal{
  position: fixed;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index:40;
  height:20vh;
  width:50vw;
}


div.app .login{
  opacity: 0
}
.createOrder{
  opacity: 0
}

.ticketList{
  height:90%;
  overflow-y: scroll;
}

.menuContainer{
  height:73vh;
  margin:5px;
  padding:5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.btnContainer{
  margin-bottom: 1vh;
}
.btnFix{
  padding-left: 1vw;
}
.calcContainer{
  height:35vh;
  width:100%;
}

hr.vr{
  width:1px;
  height:85vh;
  display: inline-block;
}
.w {
  width: 6vw;
}

@media only screen and (max-height:800px){
  .calcContainer{
      height:50vh;
      width:100%;
  }
}
@media only screen and (max-width:992px){
  .calcContainer{
      height:40vh;
      width:80%;
  }
  .w {
    width:5vw;
  }
}
/* @media only screen and (max-width:768px){
  .calcContainer{
      height:50vh;
      width:80%;
  }
  .w {
    width:125vw;
  }
} */

.laptop-w {
  width:98vw;
}